html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    color: #333;
}


header {
    background: #111;
    color: white;
    padding: 15px;
    font-family: "Dancing Script", cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 30px;
    padding-left: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-right: 20px;
}

nav a:hover {
    color: #bbb;
}


main {
    flex: 1;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-text {
    text-align: center;
    flex: 1;
}

.social-left,
.social-right {
    display: flex;
    gap: 15px;
}

footer a {
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

footer a:hover {
    color: #bbb;
}

footer {
    background: #111;             
    color: white;
    padding: 15px;              
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 20px;
}

.welcome-section {
    text-align: center;
    padding: 50px 20px;
    background-color: gainsboro;
}

.welcome-section h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-box {
    width: 100%;
    background-color: beige;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: 40px auto;

    min-height: 60vh;
}

.info-box h2 {
    margin-top: 5px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-box p {
    max-width: 800px;
    margin: 10px auto 15px auto; 
    line-height: 1.4;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    break-inside: avoid;
    font-size: 20px;
}

.info-item h2 {
    margin-top: 5px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-item p {
    line-height: 1.4;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    margin: 10px 0 15px 0;
}

#faq-page .info-box {
    display: grid;
    grid-template-columns: 3, 1fr;
    gap: 30px;

    max-width: 1200px;
    margin: 40px auto;

    background-color: beige;
    padding: 40px 20px;
    border-radius: 40px;
    box-sizing: border-box;
    min-height: 60vh;
}

#faq-page .faq-item h2 {
    margin-top: 5px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#faq-page .faq-item p {
    max-width: 800px;
    margin: 10px auto 15px auto;
    line-height: 1.4;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 20px;
    background-color: beige;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
}

.content h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content input {
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-family: "DM Serif Display", serif;
    resize: vertical;
}

.content textarea {
    min-height: 120px;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-family: "DM Serif Display", serif;
    resize: vertical;
}

.content button {
    padding: 15px;
    font-size: 18px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
}

.content button:hover {
    background-color: #333;
}

.content a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    color: #555;
}

#samples-page .samples-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;

    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}

.sample-card {
    background-color: beige;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}


.sample-card:hover {
    transform: translateY(-5px);
}

.sample-card h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.sample-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.sample-card p {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.sample-card .scent {
    font-size: 14px;
    margin-bottom: 10px;
}


.sample-card .prices {
    padding-left: 0;
    margin: 0;
    font-size: 15px;
}

.sample-card .prices li {
    margin: 5px 0;
    padding-bottom: 10px;
}
